<% provide(:title, 'All formals') %>


<h1>Formals</h1>
<div class="row", align="center">
	<div class="col-md-6 col-md-offset-3">
		<%- @google_forms.each do |gf| %>
			<p><%= link_to "#{gf.formalname}", google_form_path(gf.id) %></p>

		<% end %>

		<b><%= link_to "Add new formal", new_google_form_path %></b>
	</div>
</div>



