<% provide(:title, 'Home') %> <!--see application helper full_title--> 

<div class="row", align="center">
  <div class="col-md-6 col-md-offset-3">
		<h1> Welcome to Butler JCR!</h1>
		<%= link_to "Formals", google_forms_path %>
		<br>
		<%= link_to "Claims", claims_path %>
	</div>
</div>


